<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загруженные тесты</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Загруженные тесты</h1>
        <ul class="file-list">
            {% for testing in testings %}
                <li><a href="{{'testing/' + testing + '/config'}}">{{ testing }}</a></li>
            {% else %}
                <li>Нет загруженных тестов.</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('index') }}" class="back-btn">Назад</a>
    </div>
</body>
</html>